<div class="pics"> 
    <img src="assets/brownies.jpg" width="200" height="200" /> 
    <img src="assets/pinkachu.png" width="200" height="200" /> 
    <img src="images/beach3.jpg" width="200" height="200" /> 
</div> 

<div class = "jscript">
	
</div>
