<div class="announcement">

		
		<table class="tblthreads_header">
			<tr>
				<td id="anntitle">ANNOUNCEMENT</td>
				<td id="annreplies">REPLIES</td>
				<td id="annviews">VIEWS</td>
				<td id="annlastpost">LASTPOST</td>
			</tr>
			<tr class = "threadcell">
				<td id="title">ANNOUNCEMENT <br> by meooio</td>
				<td id="replies">REPLIES</td>
				<td id="views">VIEWS</td>
				<td id="lastpost">LASTPOST</td>
			</tr>			
		</table>
		


</div>

<div class="threads">

		
		<table class="tblthreads_header">
			<tr>
				<td id="anntitle">ANNOUNCEMENT</td>
				<td id="annreplies">REPLIES</td>
				<td id="annviews">VIEWS</td>
				<td id="annlastpost">LASTPOST</td>
			</tr>
			<tr class = "threadcell">
				<td id="title">Carl <br> by meooio</td>
				<td id="replies">0</td>
				<td id="views">0</td>
				<td id="lastpost">LASTPOST</td>
			</tr>
			
		</table>
		


</div>

