/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		Pinkie
	Based on style:	proSilver (the default phpBB 3.0.x style)
	Original author:	subBlue ( http://www.subBlue.com/ )
	Modified by:		Abdul Turan ( http://www.abdul91.de/ )	
    --------------------------------------------------------------
*/

/* General Markup Styles
---------------------------------------- */

* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}


html {
	font-size: 100%;
	/* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
	height: 100%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: #828282;
	background-color: #FFFFFF;
	/*font-size: 62.5%;			 This sets the default font size to be equivalent to 10px */
	font-size: 10px;
	margin: 0;
	padding: 12px 0;
}

.container {
	width: 949px;
	height: auto;
	min-height: 600px;
	border-style: solid;
	border-color: pink;
	background-color: #FFFFFF;
	margin-left: 15%;
	padding: 10px;
  	
  	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.header {
	width: 938px;
	height: 152px;
	background-color: #ffa7b6;
	margin-left: 7px;
	/*background-image:url('logo.png');*/
	
  	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* paginate styles */

.paginate_top {
	float: right;
	margin-right: 10px;
	margin-top: 20px;
}

.paginate_bot {
	float: right;
	margin-right: 10px;
}

/* rollover icons */


#logo_new_topic
{
	
  display:inline-block;
  width: 96px;
  height: 25px;
  margin-left: 10px;
  padding: 1px;
  margin-top: 5px;
  background: url("button_topic_new.gif") no-repeat 0 0;
  background-size: 96px 50px;

}

#logo_new_topic:hover
{ 
  background-position: 0 -25px;
}

#logo_new_topic span
{
  position: absolute;
  top: -999em;
}


#logo_reply
{
  display:inline-block;
  width: 96px;
  height: 25px;
  margin-left: 10px;
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: url("button_topic_reply.gif") no-repeat 0 0;
  background-size: 96px 50px;

}

#logo_reply:hover
{ 
  background-position: 0 -25px;
}

#logo_reply span
{
  position: absolute;
  top: -999em;
}



/* END */

.announcement {
	width: 938px;
	height: 71px;
	background-color: #ffa7b6;
	margin-left: 7px;
	margin-top: 5px;
	padding-top: 10px;
	/*background-image:url('logo.png');*/
	
  	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.threadcell {
	width: 928px;
	height: 39px;
	background-color: #DDEDFB;
	margin-left: 4px;
	margin-top: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	
}

.threadcell:hover {
	background-color: #FDD5DB;

}

.threadcell a:visited {
	color: #FD8191;
}

.threadcell a {
	text-decoration: none;
}

#anntitle {
	padding-left: 12px;
	width: 475px;
	margin-top: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align:left;
	font-family:"Arial", Times, serif;
}

#annreplies{
	width: 80px;
	margin-left: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-family:"Arial", Times, serif;
}

#annviews{
	width: 80px;
	margin-top: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-family:"Arial", Times, serif;
}

#annlastpost{
	width: 255px;
	padding-left: 12px;
	margin-top: 5px;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	font-family:"Arial", Times, serif;
}

#title {
	padding-left: 12px;
	width: 475px;
	margin-top: 5px;
	color: #865DA0;
	font-weight: bold;
	text-align:left;
	font-family:"Arial", Times, serif;
	
}

#replies{

	font-weight: bold;
	text-align: center;
	font-family:"Arial", Times, serif;
}

#views{

	font-weight: bold;
	text-align: center;
	font-family:"Arial", Times, serif;
}

#lastpost{
	padding-left: 12px;
	font-weight: bold;
	text-align: left;
	font-family:"Arial", Times, serif;
}

.tblthreads_header {
	margin-left: 5px;
}

.threads {
	width: 938px;
	height: auto;
	min-height: 71px;
	background-color: #ffa7b6;
	margin-left: 7px;
	margin-top: 5px;
	padding-top: 10px;
	/*background-image:url('logo.png');*/
	
  	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.signin_nav {
	width: 938px;
	height: 31px;
	background-color: #DDEDFB;
	margin-left: 7px;
	margin-top: 5px;
	/*background-image:url('logo.png');*/
	
  	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}



.navheader {
	padding-top: 5px;
	text-align: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 14px;
}

/* link styles */

a:link {
	color: #FD8191;
}

a:hover {
	color: #D31141;
}

/* sign up page CSS */

.signup_container {
	width: 938px;
	height: auto;
	min-height: 310px;
	background-color: #DDEDFB;
	margin-left: 7px;
	margin-top: 5px;
	padding-top: 1px;
	 
	/*background-image:url('logo.png');*/
	
  	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.signup_contents {
	margin-left: 7px;
	margin-top: 15px;
	padding-bottom: 15px;
}

/* Posts page */


.post_container {
	width: 938px;
	height: auto;
	min-height: 147px;
	background-color: #DDEDFB;
	margin-left: 7px;
	margin-top: 5px;
	padding-top: 1px;
	 
	/*background-image:url('logo.png');*/
	
  	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.post_content {
	margin-left: 200px;
	margin-top: 15px;
	padding-bottom: 15px;
	padding: 1px;
}

.vertical {
	width: 150px; /* Line width */	
	border-right: 2px inset #FFFFFF;
	min-height: 115px; /* Override in-line if you want specific height. */
	height: auto;
	margin-left: 17px;
	padding: 1px;
	float: left;
	margin-top: 15px;
	text-align: center;
	font-size: 14px;
	color: #FD8191;
}

.post_content p {
	font-family: Arial, Arial, sans-serif;
	font-size: 14px;
}

/* error messages */


#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff
}


#error_explanation ul li {
  margin-top: 12px;
  font-size: 12px;
  margin-left: 25px;
}



html, body { background-color: #E5E5E5; } /* Hintergrundfarbe - Aussen */
